<div th:fragment="header">
    <link rel="stylesheet" th:href="@{/stylesheet/fragments/header.css}">

    <header class="site-header">
        <nav class="navbar">
            <ul class="nav-links">
                <li><a th:href="@{/aboutdmm}">Om Os</a></li>
                <li><a th:href="@{/privateuser}">Privatforbrugere</a></li>
                <li><a th:href="@{/company}">Virksomheder</a></li>
                <li><a th:href="@{/collaborators}">Samarbejdspartnere</a></li>
            </ul>
        </nav>
    </header>

</div>
