<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="/stylesheet/header.css">
    <link rel="stylesheet" href="/stylesheet/Usecase3.css">
    <link rel="stylesheet" href="/stylesheet/footer.css">
</head>
<body>
<!-- KODEN TIL HEADER -->
<header class="site-header">
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/aboutdmm">Om Danmark Mod Madspild</a></li>
            <li><a href="/privateuser">Privatforbrugere</a></li>
            <li><a href="/company">Virksomheder</a></li>
            <li><a href="/collaborators">Samarbejdspartnere</a></li>
        </ul>
    </nav>
</header>

<!-- KODEN TIL HEADER SLUTTER-->

<!-- Content of the page -->
<div class="content">
    <!-- Din sideindhold går her -->
</div>

<!-- KODEN TIL FOOTEREN -->
<footer class="site-footer">
    <div class="footer-container">

        <!-- Logo og Addresse -->
        <div class="footer-section">

            <a th:href="@{/}"><img src="/images/dmm-logo-green.svg" class="footer-logo"> </a>
            <p><strong>Addresse:</strong><br>
                Holbergsgade 6<br>
                1057 København</p>
        </div>

        <!-- Danmark mod Madspild Sektion -->
        <div class="footer-section">
            <h3>Danmark mod Madspild</h3>
            <ul>
                <li><a href="/aboutdmm">Om Os</a></li>
                <li><a href="/aboutdmm">Vores Vision</a></li>
                <li><a href="/aboutdmm">Vores Mission</a></li>
                <li><a href="/aboutdmm">Kontakt os</a></li>
            </ul>
        </div>

        <!-- Partner Information sektion -->
        <div class="footer-section">
            <h3>Til Partnere</h3>
            <ul>
                <li><a href="/collaborators">Cases</a></li>
                <li><a href="/collaborators">Bliv partner</a></li>
                <li><a href="/collaborators">Sådan bliver du partner</a></li>
            </ul>
        </div>

        <!-- Følg os sektion -->
        <div class="footer-section">
            <h3>Følg os</h3>
            <ul>
                <li><a href="https://www.facebook.com/OneThirdDK/?_rdr">Facebook</a></li>
                <li><a href="https://www.linkedin.com/company/one-third-think-thank/">LinkedIn</a></li>
                <li><a href="https://www.youtube.com/">YouTube</a></li>
                <li><a href="https://x.com/OneThirdDK">X</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- KODEN TIL FOOTER SLUT -->

</body>
</html>
