<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="/stylesheet/siteWideStyle.css">
    <link rel="stylesheet" href="/stylesheet/herostyles.css">
    <link rel="stylesheet" href="/stylesheet/contactform.css">
</head>
<body>

<!-- FRAGMENT TIL HEADER START -->
<div th:replace="fragments/header-fragment :: header"></div>
<!-- FRAGMENT TIL HEADER SLUT -->

<div class="content">


    <!-- KODEN TIL HERO -->
    <div th:replace="fragments/hero-fragment :: hero(
        '/images/arrangement-compost-made-rotten-food-with-copy-space.jpg',
        'DANMARK MOD MADSPILD',
        'Danmark mod Madspild er en nonprofitorganisation dedikeret til at reducere madspild og skabe en bæredygtig fremtid.'+
         'Vi arbejder for at fremme bevidsthed, ændre vaner og inspirere både private og virksomheder til at tage handling og bidrage til en verden, hvor ingen mad går til spilde. '+
          'Sammen kan vi gøre en forskel – én bid ad gangen',
        '#cta-link'
    )"></div>
    <!-- KODEN TIL HERO SLUT -->


    <div class="contact-form-container">
        <h2>Smid os en besked!</h2>
        <form class="contact-form">
            <input type="text" placeholder="Name" required>
            <input type="email" placeholder="Email" required>
            <textarea placeholder="Message" rows="10" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <!-- Din sideindhold går her -->
</div>

<!-- FRAGMENT TIL FOOTER START -->
<div th:replace="fragments/footer-fragment :: footer"></div>
<!-- FRAGMENT TIL FOOTER SLUT -->

</body>
</html>
