<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheet/siteWideStyle.css">
    <link rel="stylesheet" href="/stylesheet/fragments/hero.css">
</head>
<body>


<!-- FRAGMENT TIL HEADER START -->
<div th:replace="fragments/header-fragment :: header"></div>
<!-- FRAGMENT TIL HEADER SLUT -->

<!-- HERO FRAGMENT START -->
<div th:replace="fragments/hero-fragment :: hero(
        '/images/arrangement-compost-made-rotten-food-with-copy-space.jpg',
        'DANMARK MOD MADSPILD',
        'Som en del af vores partnernetværk hjælper du os med at reducere madspild og fremme en bæredygtig udvikling. Danmark mod Madspild er en nonprofitorganisation, der arbejder for at øge bevidstheden, ændre vaner og inspirere til handling – både blandt private og virksomheder.',
        '#cta-link'
    )"></div>
<!-- HERO FRAGMENT SLUT -->

<!-- KODEN TIL HEADER SLUTTER-->

<!-- FRAGMENT TIL FOOTER START -->
<div th:replace="fragments/footer-fragment :: footer"></div>
<!-- FRAGMENT TIL FOOTER SLUT -->

</body>
</html>