<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheet/siteWideStyle.css">
    <link rel="stylesheet" href="/stylesheet/companySignUpStyle.css">
    <link rel="stylesheet" href="/stylesheet/herostyles.css">
</head>
<body>

<!-- FRAGMENT TIL HEADER START -->
<div th:replace="fragments/header-fragment :: header"></div>
<!-- FRAGMENT TIL HEADER SLUT -->

<!-- HERO FRAGMENT START -->
<div th:replace="fragments/hero-fragment :: hero(
        '/images/arrangement-compost-made-rotten-food-with-copy-space-company.jpg',
        'DANMARK MOD MADSPILD',
        'Som virksomhed har I en unik mulighed for at gøre en forskel i kampen mod madspild. Danmark mod Madspild er en nonprofitorganisation, der samarbejder med erhvervslivet for at reducere madspild og skabe bæredygtige løsninger. Gennem partnerskaber kan vi fremme ansvarlige praksisser, inspirere til innovation og styrke jeres bæredygtige profil',
        '#cta-link'
    )"></div>
<!-- HERO FRAGMENT SLUT -->

<!-- KODE TIL SIGNUP FORMULAR START -->
<div class="Signup-form-container">
    <div class="signup-container">
        <h1 class="signup-title">Tilmeld din virksomhed</h1>
        <div class="signup-box">
            <p class="signup-text">
                Tilmeld din virksomhed til vores madspildsprogram og vær med til at gøre en forskel ved at redde overskydende mad. Sammen bekæmper vi madspild og skaber en mere bæredygtig fremtid!
            </p>
            <form class="signup-form">
                <input type="E-mail" placeholder="Email til kontaktperson" class="input-field">
                <input type="text" placeholder="Virksomhedens navn" class="input-field">
                <button type="submit" class="signup-button">Tilmeld</button>
            </form>
        </div>
    </div>
</div>
<!-- KODE TIL SIGNUP FORMULAR SLUT -->

<!-- FRAGMENT TIL FOOTER START -->
<div th:replace="fragments/footer-fragment :: footer"></div>
<!-- FRAGMENT TIL FOOTER SLUT -->

</body>
</html>