<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Partner</title>
    <link rel="stylesheet" href="/partnersIconStyle.css">
</head>
<body>
<div class="partners">
    <h2>Samarbejdspartnere</h2>

    <div class="partners__error-message hidden">Kunne ikke åbne linket. Prøv venligst igen senere.</div>

    <div class="partners__list">
            <div class="partners__item" th:each="partner : ${partners}">
                <img class="partners__icon" th:src="${partner.iconPictureLink}" th:alt="${partner.name}">
                <div class="partners__overlay">
                    <a class="partners__item-link" th:href="@{/partner/{id}(id=${partner.id})}">
                        <div class="partners__overlay__text">Læs mere</div>
                    </a>
                </div>
                <!-- Box under the image to show name and description on hover -->
                <div class="partners__info-box">
                    <h3 class="partners__name" th:text="${partner.name}"></h3>
                    <p class="partners__description" th:text="${partner.whoIs}"></p>
                </div>
            </div>
    </div>
</div>
</body>
</html>