<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/stylesheet/partnerStyle.css">
    <link rel="stylesheet" th:href="@{/stylesheet/fragments/infoBox.css}">
    <title th:text="${partner.name} + ' - Partner Information'">Partner Information</title>
</head>
<body>
<div class="partner-container">
    <header class="partner-header">
        <div class="partner-header__content">
            <img th:src="${partner.iconPictureLink}" alt="Logo for Partner" class="partner-header__logo">
            <h1 class="partner-header__title" th:text="${partner.name}">Partner Name</h1>
        </div>
    </header>

    <section class="partner-info">
        <div th:replace="fragments/info-box-fragment :: info (false, '/images/gettyimages-1181852767_1600x900.jpg', 'Hvem er ' + ${partner.name}, ${partner.whoIs})"></div>
        <div th:replace="fragments/info-box-fragment :: info (true, '/images/COLOURBOX49689356.webp', 'Hvad er de primære kilder til madspild?', ${partner.howMuch})"></div>
        <div th:replace="fragments/info-box-fragment :: info (false, '/images/53b81c94-4013-4dfe-9489-bb7b86b158e7.jpg', 'Hvor længe har de arbejdet med madspild?', ${partner.sinceWhen})"></div>
    </section>

    <section class="report-section">
        <h2 class="report-section__title">Oversigt over madspildsreduktion og donationsstatistikker</h2>
        <a href="#" class="report-section__button">Download Rapport</a>
    </section>
</div>
</body>
</html>