<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheet/siteWideStyle.css">
    <link rel="stylesheet" href="/stylesheet/privateUser.css">
    <link rel="stylesheet" href="/stylesheet/fragments/cardItem.css">
    <link rel="stylesheet" href="/stylesheet/fragments/companySearchPage.css">
    <link rel="stylesheet" href="/stylesheet/herostyles.css">
</head>
<body>

<!-- FRAGMENT TIL HEADER START -->
<div th:replace="fragments/header-fragment :: header"></div>
<!-- FRAGMENT TIL HEADER SLUT -->

<!-- HERO FRAGMENT START -->
<div th:replace="fragments/hero-fragment :: hero(
        '/images/arrangement-compost-made-rotten-food-with-copy-space.jpg',
        'DANMARK MOD MADSPILD',
        'Som privatperson kan du gøre en stor forskel i kampen mod madspild. Danmark mod Madspild er en nonprofitorganisation dedikeret til at reducere madspild og fremme bæredygtige vaner. Vi inspirerer og guider dig til små ændringer i hverdagen, der tilsammen kan skabe store resultater.',
        '#cta-link'
    )"></div>
<!-- HERO FRAGMENT SLUT -->


<div th:replace="/fragments/company-search-page :: companySearchPage (${partners})"></div>

<div class="partners">
    <h2>Samarbejdspartnere</h2>
    <div class="partners__list">
        <div th:each="partner : ${partners}">
            <div th:replace="/fragments/card-item-fragment :: cardItem (${partner.iconPictureLink}, '/partner/'+${partner.id}, ${partner.name}, ${partner.whoIs})"></div>
        </div>
    </div>
</div>

<!-- FRAGMENT TIL FOOTER START -->
<div th:replace="fragments/footer-fragment :: footer"></div>
<!-- FRAGMENT TIL FOOTER SLUT -->

</body>
</html>