<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Private</title>
    <link rel="stylesheet" href="private.css">
</head>
<body>
<div class="search-page">
    <header class="search-page__header">
        <h1 class="search-page__title">Find partnere</h1>
    </header>

    <main class="search-page__content">
        <div class="search-page__input-container">
            <form class="search-page__input-group" action="/searchPartner" method="post">
                <label class="search-page__input-group__label">
                    <input type="text" class="search-page__input-group__input" placeholder="Postnummer eller bynavn">
                </label>
                <button class="search-page__input-group__button">Søg</button>
            </form>
        </div>
        <div class="map">
            <div class="map__container">
                <p class="map__placeholder">Map over partners (Integration required)</p>
            </div>
        </div>
        <div class="search-results">
            <div class="search-results__message" th:classappend="${#lists.isEmpty(partners) ? '' : 'hidden'}">No partners found in this area</div>


            <div class="search-results__list" >
                <a class="search-results__item-link" th:each="partner : ${partners}" th:href="@{/partner/{id}(id=${partner.id})}">
                    <div class="search-results__item">
                        <h3 class="search-results__item-name" th:text="${partner.name}"></h3>
                        <p class="search-results__item-address" th:text="${partner.address}"></p>
                        <p class="search-results__item-hours" th:text="${partner.openingHours}"></p>
                    </div>
                </a>
            </div>
        </div>
    </main>
</div>
</body>
</html>