<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/stylesheet/header.css">
    <link rel="stylesheet" href="/stylesheet/footer.css">
    <link rel="stylesheet" href="/stylesheet/partnersIconStyle.css">
</head>
<body>

<!-- KODEN TIL HEADER -->
<header class="site-header">
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/aboutdmm">Om Danmark Mod Madspild</a></li>
            <li><a href="/privateuser">Privatforbrugere</a></li>
            <li><a href="/company">Virksomheder</a></li>
            <li><a href="/collaborators">Samarbejdspartnere</a></li>
        </ul>
    </nav>
</header>
<!-- KODEN TIL HEADER SLUTTER-->

<div class="partners">
    <h2>Samarbejdspartnere</h2>

    <div class="partners__error-message hidden">Kunne ikke åbne linket. Prøv venligst igen senere.</div>

    <div class="partners__list">
        <div class="partners__item" th:each="partner : ${partners}">
            <img class="partners__icon" th:src="${partner.iconPictureLink}" th:alt="${partner.name}">
            <div class="partners__overlay">
                <a class="partners__item-link" th:href="@{/partner/{id}(id=${partner.id})}">
                    <div class="partners__overlay__text">Læs mere</div>
                </a>
            </div>
            <!-- Box under the image to show name and description on hover -->
            <div class="partners__info-box">
                <h3 class="partners__name" th:text="${partner.name}"></h3>
                <p class="partners__description" th:text="${partner.whoIs}"></p>
            </div>
        </div>
    </div>
</div>

<!-- KODEN TIL FOOTEREN -->
<footer class="site-footer">
    <div class="footer-container">

        <!-- Logo og Addresse -->
        <div class="footer-section">
            <a th:href="@{/}"><img src="/images/dmm-logo-green.svg" class="footer-logo"> </a>
            <p><strong>Addresse:</strong><br>
                Holbergsgade 6<br>
                1057 København</p>
        </div>

        <!-- Danmark mod Madspild Sektion -->
        <div class="footer-section">
            <h3>Danmark mod Madspild</h3>
            <ul>
                <li><a href="/aboutdmm">Om Os</a></li>
                <li><a href="/aboutdmm">Vores Vision</a></li>
                <li><a href="/aboutdmm">Vores Mission</a></li>
                <li><a href="/aboutdmm">Kontakt os</a></li>
            </ul>
        </div>

        <!-- Partner Information sektion -->
        <div class="footer-section">
            <h3>Til Partnere</h3>
            <ul>
                <li><a href="/collaborators">Cases</a></li>
                <li><a href="/collaborators">Bliv partner</a></li>
                <li><a href="/collaborators">Sådan bliver du partner</a></li>
            </ul>
        </div>

        <!-- Følg os sektion -->
        <div class="footer-section">
            <h3>Følg os</h3>
            <ul>
                <li><a href="https://www.facebook.com/OneThirdDK/?_rdr">Facebook</a></li>
                <li><a href="https://www.linkedin.com/company/one-third-think-thank/">LinkedIn</a></li>
                <li><a href="https://www.youtube.com/">YouTube</a></li>
                <li><a href="https://x.com/OneThirdDK">X</a></li>
            </ul>
        </div>
    </div>
</footer>

<!-- KODEN TIL FOOTER SLUT -->

</body>
</html>