<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tilmeld Din Virksomhed</title>
    <link rel="stylesheet" href="Usecase3.css">
</head>
<body>
<div class="signup-container">
    <h1 class="signup-title">Sign up your company</h1>
    <div class="signup-box">
        <p class="signup-text">
            Sign your business up for our food waste program and make a difference by saving surplus food. Together, we fight food waste and create a more sustainable future!
        </p>
        <form class="signup-form">
            <input type="email" placeholder="Email of contactperson" class="input-field">
            <input type="text" placeholder="Name of Company" class="input-field">
            <button type="submit" class="signup-button">Sign up</button>
        </form>
    </div>
</div>
</body>
</html>

