<!DOCTYPE html>
<html lang="da">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page Title</title>
    <link rel="stylesheet" href="/stylesheet/header.css">
    <link rel="stylesheet" href="/stylesheet/fragments/hero.css">
    <link rel="stylesheet" href="/stylesheet/Usecase3.css">
    <link rel="stylesheet" href="/stylesheet/siteWideStyle.css">
    <link rel="stylesheet" href="/stylesheet/contactform.css">
    <link rel="stylesheet" href="/stylesheet/footer.css">
</head>
<body>

<!-- Header section -->
<!-- FRAGMENT TIL HEADER START -->
<div th:replace="fragments/header-fragment :: header"></div>
<!-- FRAGMENT TIL HEADER SLUT -->

<!-- HERO FRAGMENT START -->
<div th:replace="fragments/hero-fragment :: hero(
        '/images/arrangement-compost-made-rotten-food-with-copy-space.jpg',
        'DANMARK MOD MADSPILD',
        'Som privatperson kan du gøre en stor forskel i kampen mod madspild. Danmark mod Madspild er en nonprofitorganisation dedikeret til at reducere madspild og fremme bæredygtige vaner. Vi inspirerer og guider dig til små ændringer i hverdagen, der tilsammen kan skabe store resultater.',
        '#cta-link'
    )"></div>
<!-- HERO FRAGMENT SLUT -->



<!-- Content of the page -->
<div class="main-container">
    <!-- SIGNUP KOMPONENTET -->
    <div class="Signup-form-container">
        <div class="signup-container">
            <h1 class="signup-title">Tilmeld din virksomhed</h1>
            <div class="signup-box">
                <p class="signup-text">
                    Tilmeld din virksomhed til vores madspildsprogram og vær med til at gøre en forskel ved at redde overskydende mad. Sammen bekæmper vi madspild og skaber en mere bæredygtig fremtid!
                </p>
                <form class="signup-form">
                    <input type="E-mail" placeholder="Email til kontaktperson" class="input-field">
                    <input type="text" placeholder="Virksomhedens navn" class="input-field">
                    <button type="submit" class="signup-button">Tilmeld</button>
                </form>
            </div>
        </div>
    </div>
    <!-- SIGNUP KOMPONENTET SLUT -->


    <!-- kONTAKTFORMULAR KOMPONENTET -->
    <div class="contact-form-container">
        <h2>Smid os en besked!</h2>
        <form class="contact-form">
            <input type="text" placeholder="Name" required>
            <input type="email" placeholder="Email" required>
            <textarea placeholder="Message" rows="10" required></textarea>
            <button type="submit">Send</button>
        </form>
    </div>
    <!-- KONTAKTFORMULAR KOMPONENTET SLUT -->

</div>

<!-- FRAGMENT TIL FOOTER START -->
<div th:replace="fragments/footer-fragment :: footer"></div>
<!-- FRAGMENT TIL FOOTER SLUT -->

</body>
</html>
