.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}


.contact-form-container {
    flex-wrap: wrap;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 400px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    color: #333;
    border-bottom: 2px solid #00bcd4;
    padding-bottom: 5px;
    margin-bottom: 20px;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #aaa;
}

.contact-form button {
    width: 100%;
    background-color: #4a4a4a;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #333;
}
