.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}


.contact-form-container {
    flex-wrap: wrap;
    text-align: center;
    justify-self: center;
    justify-content: center;
    align-items: center;
    width: 400px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 50px;
}

.contact-form-container h2 {
    text-align: center;
    color: #333;
    padding-bottom: 5px;
    margin-bottom: 20px;
    border-bottom: 2px solid black;
}

.contact-form input,
.contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
    color: #aaa;
}

.contact-form button {
    width: 100%;
    background-color: #3B6B35;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #333;
}
