.partner-container {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

.partner-header {
    margin-bottom: 20px;
    text-align: center;
}

.partner-header__content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.partner-header__logo {
    width: 150px;
    border-radius: 10px;
}

.partner-header__title {
    flex-grow: 1;
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-left: -100px; /* Adjusted for max-width of logo */
}

.partner-info {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    margin-bottom: 40px;
}

.partner-info__box {
    flex: 1 1 100%;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    gap: 30px;
    box-sizing: border-box;
}

.partner-info__box:nth-of-type(2n) {
    flex-direction: row-reverse;
}

.partner-info__box .partner-info__box-image {
    max-width: 30%;
    max-height: 100%;
    flex-shrink: 0;
    object-fit: contain;
}

.partner-info__box-content {
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-shadow: -15px 6px 9px rgba(0, 0, 0, 0.08);
    clip-path: inset(-50px 0 -50px -50px);
}

.partner-info__box-title {
    font-size: 1.5rem;
    color: #00796b;
    margin-bottom: 10px;
}

.partner-info__box-text {
    font-size: 1rem;
    color: #555;
    white-space: pre-wrap;
    line-height: 1.5;
}

.report-section {
    text-align: center;
    margin-top: 40px;
    padding: 20px;
    background-color: #e0f2f1;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.report-section__title {
    font-size: 1.8rem;
    color: #333;
    margin-bottom: 20px;
}

.report-section__button {
    display: inline-block;
    padding: 15px 30px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #00796b;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.report-section__button:hover {
    background-color: #004d40;
}