.private-user__container {
    gap: 40px;
    display: flex;
    flex-direction: column;
    margin: 40px 50px 150px;
}

.partners__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 4 items per row */
    gap: 10px;
}

.private-user__section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.private-user__section > * {
    flex: 1 1 100%;
}

/* Media queries for responsiveness */
@media (max-width: 1200px) {
    .partners__list {
        grid-template-columns: repeat(2, 1fr); /* 2 items per row on medium screens */
    }
}

@media (max-width: 768px) {
    .partners__list {
        grid-template-columns: repeat(1, 1fr); /* 1 items per row on smaller screens */
    }
}