/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: white;
}


.hidden {
    display: none !important;
}

