/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Layout */
body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: white;
}

/* Header styling */
.site-header {
    background-color: #333; /* Mørk baggrund */
    padding: 15px 0; /* Lidt padding for at gøre headeren højere */
}

.navbar {
    display: flex;
    justify-content: center; /* Centrerer navigationen */
}

.nav-links {
    list-style-type: none;
    display: flex;
    gap: 20px; /* Mellemrum mellem links */
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: #fff; /* Hvid tekst */
    font-size: 16px;
    padding: 8px 12px;
    transition: background-color 0.3s ease;
}

.nav-links a:hover {
    background-color: #555; /* Hover-effekt med mørkere baggrund */
    border-radius: 4px;
}
/* Header styling end */

/* Footer styling */
.site-footer {
    background-color: #e0e0e0; /* Lys grå baggrund */
    padding: 20px;
    font-family: Arial, sans-serif;
}

.footer-logo{
    width: 100px;
    height: auto;
}

.footer-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    text-align: left;
}

.footer-section {
    flex: 1; /* Gør hver sektion lige stor */
    color: #333;
}

.footer-section h2 {
    font-size: 24px;
    margin: 0;
}

.footer-section h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section p {
    font-size: 14px;
    margin: 10px 0;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 8px;
}

.footer-section ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-section ul li a:hover {
    color: #555; /* Skift til text farve ved hover */
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.social-icons a img {
    width: 24px;
    height: 24px;
}
/* Footer styling end*/

.hidden {
    display: none !important;
}

