
.card-item {
    position: relative;
    padding: 5%;
    overflow: visible;
    height: 150px;
}

.card-item__icon {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: opacity 0.3s ease;
}

.card-item__overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.4); /* Dark overlay background */
    opacity: 0;
    color: black;
    padding: 10px;
    text-align: center;
    transition: opacity 0.3s ease;
}

.card-item:hover .card-item__icon {
    opacity: 0.3;
}

.card-item:hover .card-item__overlay {
    opacity: 1;
}

.card-item__overlay-text {
    background-color: #04AA6D;
    color: white;
    border-radius: 4px;
    font-size: 14px;
    padding: 8px 16px;
}

.card-item__overlay-link {
    text-decoration: none;
    color: inherit;
}

/* Add box with partner name and description under the item */
.card-item__info-box {
    display: none;
    padding: 10px;
    background-color: #f8f8f8;
    text-align: center;
    border-radius: 4px;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 120%;
    height: auto;
    transition: opacity 0.3s ease;
    z-index: 1;
}

.card-item__info-box::after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -15px;
    border-width: 15px;
    border-style: solid;
    border-color: transparent transparent #f8f8f8 transparent;
}

/* Show info box on hover */
.card-item:hover .card-item__info-box, .card-item:hover .card-item__info-box::after {
    display: block;   /* Show the info box on hover */
    opacity: 1;       /* Ensure it is visible */
}

.card-item__info-box .card-item__title {
    color: #4CAF50;
    margin: 10px 0;
    font-size: 16px;
    font-weight: bold;
}

.card-item__description {
    font-size: 14px;
    color: black;
    white-space: pre-wrap;
    line-height: 1.5;
}